<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <div>Title</div>
  <%= f.text_field :title %>
  <p></p>
  <div>Body</div>
  <%= f.text_area :body %>

  <br><%= f.submit 'Update Book' %></br>

<% end %>
<p></p>
<%= link_to "Show", book_path(@book.id) %>
<td>| <a href="/books">Back</a></td>